* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
body 
{
  background-image: url("/head-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 80vh;
}
:root {
  --color-dark-green: #49a333;
  --color-olive-green: #678b37;
  --color-pale-yellow: #ced086;
  --color-lime-green: #c5d301;
  --color-forest-green: #2d8c15;
  --color-moss-green: #81af53;
  --color-light-yellow: #dce085;
  --color-deep-green: #2a6e01;
}
 /*div {
    border:1px solid red; 
    padding:5px;
    */

.logo-img{
    margin-left: 100px;
    float: left;
   width: 30%;
}
.logo-img img{
    width: 100%;
    height: 100%;
}
.content {   
    margin-left: 500px;
    width:900px;
    margin:0 auto;
    position: relative;
    overflow: auto;
}
#hotline {
    float: right;
    font-size: 2rem;
    font-weight: bold;
    color:#fff;
    background-color: var(--color-dark-green);
    text-align: center;
    border-radius: 4px;
    padding:10px;
    margin:0 auto;
    margin-top:50px;
    width:40%;
    margin-right: 70px;
}
.form{
    margin-left: 100px;
    border: 5px solid var(--color-pale-yellow);
    background-color: var(--color-olive-green);
    margin-top: 200px;
    width: 32%;
    color: #fff;
    height: 320px;
}
.text-big, .text-small{
    text-align: center;
}
.text-big{
    font-size: 2.3rem;
    font-family: Cambria;
} 
.text-small{
    font-style: italic;
}
 .full-name, .phone, .email{
   margin-top: 5px;
    margin-left: 15px;
    border-top: 1px solid var(--color-deep-green);
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: transparent; /*làm trong suốt*/
    border-bottom: 1px solid var(--color-pale-yellow);
    padding: 0.5em;
    width: 90%;
 }
 .phone{
   margin-top: 5px;
 }
 .email{
   margin-top: 5px;
 }
 .submit{
    background-color: var(--color-lime-green);
    border: none;
    margin-left: 90px;
    margin-top: 10px;
    color: #fff;
    width: 120px;
    height: 30px;
    border-bottom: 10px;
 }
 .form-input input::placeholder{
    color: #fff;
 }
 .container{
    margin-left: 100px;
    margin-top: 120px;
 }
 .container-top{
    display: flex;
 }
 .img-container{
    width: 340px;
    height: 200px;
    border-style: dashed;
    border-color: var(--color-moss-green);
    border-radius: 15px;
 }
 .top-right{
    margin-left: 30px;
    width: 350px;
 }
 .top-left{
    width: 350px;
 }
 .text-ctn{
    margin-left: 15px;
    color: var(--color-moss-green);
    line-height: 2.5;
 }
 .text-ctn h2{
    font-family: Arial;
 }
 .text-center{
    text-align: justify;
    line-height: 1.5;
 }
 .text-center{
    font-family: Arial;
 }
 .container-bottom{
    margin-top: 30px;
    display: flex;
 }
 
 .footer-top{
   display: flex;
   margin-top: 15px;
   background-color: var(--color-moss-green);
   padding-bottom: 25px;
 }
 .footer-left{
   margin-top: 25px;
   margin-left: 300px;
   width: 500px;
   
}
.img-footer{
  margin-top: 25px;
  margin-left: 20px;
  width: 200px;
  height: 150px;
}
.text-footer{
  font-size: 18px;
  color: #fff;
  border-bottom: 1.5px solid #fff;
  padding-bottom: 5px;
}
.text-center-1{
  margin-top: 10px;
  color: #fff;
  line-height: 1.5;
}
.footer-bottom{
  background-color: var(--color-pale-yellow);
}
.form-1{
  padding-top: 25px;
  margin-left: 380px;
  padding-bottom: 25px;
}
.text-bottom{
  color: var(--color-deep-green);
  font-size: 1.2rem;
  text-align: center;
  width: 600px;
}
.name-1, .email-1, .phone-1, .sub{
  width: 280px;
  height: 25px;
}
.phone-1, .sub{
  margin-left: 30px;
}
.email-1, .sub{
  margin-top: 5px;
}
.sub{
  background-color: var(--color-forest-green);
  color: #fff;
}
.bottom-left input::placeholder{
  color: black;
}
.bottom-right input::placeholder{
  color: black;
}